<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>John's Restaurant Review Site</title>
<link rel="stylesheet" type="text/css" href="normalize.css"/>
<link rel="stylesheet" type="text/css" href="reviewsite-styles.css" />
<link href="https://fonts.googleapis.com/css?family=Merriweather"
	rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Raleway"
	rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
	rel="stylesheet"/>
</head>

<body>
	<header>
		<h1>John's Restaurant Review Site</h1>
	</header>

	<div th:each="review: ${reviews}">
		<h2>
			<a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
		</h2>
	</div>

</body>

</html>